/Ejercicio 1-4/build/
/Ejercicio 6/nbproject/private/
/Ejercicio 6/build/
/Guia 2/nbproject/private/
/Guia 2/build/
/Guia 3/nbproject/private/
/Guia 4/nbproject/private/
/Ejercicio 6-10/nbproject/private/
/Ejercicio 11-12/nbproject/private/
/Ejercicio 11-12/build/
/Guia 4/build/
/Guia 3/build/
/TecnicaturaDW/nbproject/private/
/Java/nbproject/private/
/Java/build/
/Dia 4/nbproject/private/
/Guia 5/nbproject/private/
/Integrador1/nbproject/private/
/Integrador1/build/
/Guia 5/build/